fastapi
uvicorn
streamlit
python-dotenv
requests
httpx
pydantic
langgraph
langchain-ollama
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
ruff
pytest
ollama
chromadb==0.4.24